* {
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
}

#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board,
#game-set {
    margin: 10px auto;
    text-align: center;
}

button {
    width: 10%;
}